body {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

main {
    background-color: #302140;
    color: #eee;
    border-radius: 5px;
    margin: 1.875rem .5rem;
    padding: .9375rem;
}

section {
    display: block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    margin: 3.125rem 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 3.125rem 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

#img-div {
    background: #fed700;
    padding: .625rem;
    margin: 0;
}

#img-caption {
    color: #302140;
    margin: .9375rem 0 .9375rem 0;
}

ul {
    max-width: 34.375rem;
    margin: 0 auto 3.125rem auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 1rem 0;
}

blockquote {
    font-style: italic;
    max-width: 34.0625rem;
    margin: 0 auto 3.125rem auto;
    text-align: left;
}

footer a {
    color: #fed700;
}

footer a:hover {
    color: #fed700c9;
}
